<p>Hi there,</p>
<p><strong><%= @sender.name %></strong> invited you to join Xpensify and split expenses easily!</p>

<p>
  <a href="<%= @signup_url %>">Click here to join and become friends</a>
</p>
